<br>
<h1><%= @list.name %></h1>

<ul>
  <% @list.movies.each do |movie| %>
    <li><%= movie.title %>
      <%= movie.overview %>
      <%= image_tag movie.poster_url, width: 200 %>
      <% end %></li>
</ul>



<%= link_to "new", new_list_bookmark_path(@list)%>
<%= link_to "back", lists_path  %>
